/*  common settings
 *  - for very basic settings
 *  - and for styles with no extra file available
 *  - at best, this file is nearly empty :)
 */

// Extra large devices (large desktops)
// set the defaults for all responsive levels here
// no (xl) media query necessary (desktop first)

  // viewer
  .viewer .navbar.navbar-default, .mycoreViewer .navbar {
    background-image: none;
  }
  .mycoreViewer .altoLine {
    text-align: left;
    line-height: initial;
    font-family: sans-serif;
  }
  .mycoreViewer .navbar {
    position: relative;
    min-height: 60px;
    padding: 0px;
  }
  /* TODO: check for better solution to hide search field box on modal citation box*/
  .modal {
    z-index: 2050;
  }

  // white background to get overlay working again
  #mir-abstract-tabs {
    .tab-content {
      background-color: white;
      padding-top: 0.5rem;
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
  .mir-abstract-overlay-tran {
    left: 0;
  }

  .shariff .orientation-horizontal li {
    margin-right: 3px;
  }

  // Large devices (desktops) and below: <= 1200px
@include media-breakpoint-down(lg) {
  // add/overwrite styles for responsive level lg and lower
}

// Medium devices (tablets) and below: <= 992px
@include media-breakpoint-down(md) {
  // add/overwrite styles for responsive level md and lower
}

// Small devices (landscape phones) and below: <= 768px
@include media-breakpoint-down(sm) {
  // add/overwrite styles for responsive level sm and lower
}

// Extra small devices (portrait phones): <= 576px
@include media-breakpoint-down(xs) {
  // add/overwrite styles for responsive level xs
}
