/*
 *  footer settings
 */

// Extra large devices (large desktops)
// set the defaults for all responsive levels here
// no (xl) media query necessary (desktop first)

 .flatmir-footer {
    background-color: #fff;
    border: none;
    .leo-logo {
      height: $menuHeight;
      padding-bottom: 1rem;
    }
  }

  .leo-footer-menu {
    color: white;
    background-color: $leoBlueDark;
    padding-bottom: 3.75rem;
    padding-top: 3.75rem;
    max-width: 120rem;
    margin-left: auto;
    margin-right: auto;
    h2 {
      font-size: 1rem;
      line-height: 1.5;
      font-weight: 500;
      text-transform: none;
      letter-spacing: normal;
      &:after {
        content: " ";
        display: block;
        width: 1.875rem;
        height: .1875rem;
        background-color: #fff;
        margin-top: .875rem;
        margin-bottom: 1.125rem;
      }
    }
    .dini-certificate {
      h2 {
        margin-bottom: 0;
        &:after {
          background-color: transparent;
          margin-bottom: 0;
        }
      }
    }
  }

  .leo-copyright-menu {
    color: black;
    background-color: white;
  }

  .dini-certificate {
    text-align: right;
    img {
      width: 200px;
    }
  }

  html body #powered_by {
    background-color: white;
    border-top: 0px; /* unset border top from flatly */
    padding: 5px 0 0 0;
    text-align: right;
  }

// Large devices (desktops) and below: <= 1200px
@include media-breakpoint-down(lg) {
  // add/overwrite styles for responsive level lg and lower
}

// Medium devices (tablets) and below: <= 992px
@include media-breakpoint-down(md) {
  // add/overwrite styles for responsive level md and lower
}

// Small devices (landscape phones) and below: <= 768px
@include media-breakpoint-down(sm) {
  // add/overwrite styles for responsive level sm and lower
}

// Extra small devices (portrait phones): <= 576px
@include media-breakpoint-down(xs) {
  // add/overwrite styles for responsive level xs
  #powered_by {
    width: 100%;
  }
}
