/*
 *  footer settings
 */

// Extra large devices (large desktops)
// set the defaults for all responsive levels here
// no (xl) media query necessary (desktop first)

  footer {
    .leo-logo {
      height: 5.4375rem;
      padding-bottom: 1rem;
    }
  }
  html body #powered_by {
    background-color: white;
    border-top: 0px; /* unset border top from flatly */
  }
  .panel-footer {
    padding: 0;
  }
  html body #powered_by {
    background-color: #FFF;
    padding: 5px 0 0 0;
    text-align: right;
  }
  .flatmir-footer {
    background-color: #fff;
    border: none;
  }
  .flatmir-footer .col-md-9,
  .flatmir-footer .navbar-nav > li > a {
    padding: 5px 60px 0 0;
  }
  .flatmir-footer a {
    color: black;
  }
  #dini_logo {
    margin-right: 1rem;
  }
  .leo-footer-menu {
    color: white;
    background-color: $leoBlueDark;
    padding-bottom: 3.75rem;
    padding-top: 3.75rem;
    max-width: 120rem;
    margin-left: auto;
    margin-right: auto;
    h2 {
      font-size: 1rem;
      line-height: 1.5;
      font-weight: 500;
      text-transform: none;
      letter-spacing: normal;
      &:after {
        content: " ";
        display: block;
        width: 1.875rem;
        height: .1875rem;
        background-color: #fff;
        margin-top: .875rem;
        margin-bottom: 1.125rem;
      }
    }
  }
  .leo-copyright-menu {
    color: black;
    background-color: white;
  }
  .internal_links {
    .nav-link {
      display: block;
      padding: .25rem 0;
      a {
        color: white;
      }
    }
  }
// Large devices (desktops) and below: <= 1200px
@include media-breakpoint-down(lg) {
  // add/overwrite styles for responsive level lg and lower
}

// Medium devices (tablets) and below: <= 992px
@include media-breakpoint-down(md) {
  // add/overwrite styles for responsive level md and lower
}

// Small devices (landscape phones) and below: <= 768px
@include media-breakpoint-down(sm) {
  // add/overwrite styles for responsive level sm and lower
}

// Extra small devices (portrait phones): <= 576px
@include media-breakpoint-down(xs) {
  // add/overwrite styles for responsive level xs
}
