/*
 *  header settings
 */

// Extra large devices (large desktops)
// set the defaults for all responsive levels here
// no (xl) media query necessary (desktop first)

  body {
    > header {
      position: fixed;
      display: block;
      width: 100%;
      height: $menuHeight;
      background-color: #fff;
      box-shadow: 0 3px 6px rgba(0,0,0,.2);
      z-index: 1030;
      .leo-logo {
        height: $menuHeight;
        padding-top: 1rem;
        padding-bottom: 1rem;
      }
      a {
        text-decoration: none;
      }
    }
  }

  .leo-header {
    display: flex;
    height: $menuHeight;
    max-width: 120rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    position: relative;
    &__logo {
      margin-top: .625rem;
      flex: 0 0 auto;
      position: absolute;
      z-index: 1035;
      img {
        max-width: 100%;
        height: auto;
        width: 260px;
      }
    }
    &__nav {
      flex: 1 1 auto;
      margin-left: calc(260px + 5.625rem);
      display: flex;
    }
  }

  #options_nav_box {
    flex: 1 1 auto;
  }

// Large devices (desktops) and below: <= 1200px
@include media-breakpoint-down(lg) {
  // add/overwrite styles for responsive level lg and lower
  .leo-header {
    &__nav {
      margin-left: calc(260px + 3rem);
    }
  }
}

// Medium devices (tablets) and below: <= 992px
@include media-breakpoint-down(md) {
  // add/overwrite styles for responsive level md and lower
  .leo-header {
    &__logo {
      position: relative;
      z-index: 10;
      margin-top: 0;
      img {
        width: auto;
        height: $menuHeight;
      }
    }
  }
  header {
    position: static;
  }
}

// Small devices (landscape phones) and below: <= 768px
@include media-breakpoint-down(sm) {
  // add/overwrite styles for responsive level sm and lower
}

// Extra small devices (portrait phones): <= 576px
@include media-breakpoint-down(xs) {
  // add/overwrite styles for responsive level xs
  #project_logo_box {
    position: relative;
    left: auto;
    bottom: auto;
    z-index: 1000;
  }
  .leo-logo-link {
    border-left: 1rem solid $leoRed;
    height: 100%;
    display: block;
    img {
      display:none;
    }
  }
  header .leo-logo {
    height: 70%;
  }
}
