/*
 *  header settings
 */

// Extra large devices (large desktops)
// set the defaults for all responsive levels here
// no (xl) media query necessary (desktop first)

  header {
    background-color: rgb(255, 255, 255);
  }
  #header_box {
    position: relative;
  }
  #project_logo_box {
    float: none !important;
    position: absolute;
    left: 0;
    bottom: -40px;
    z-index: 1000;
  }
  #bs-bibliothek {
    color: $danger;
    font-weight: bold;
  }

// Large devices (desktops) and below: <= 1200px
@include media-breakpoint-down(lg) {
  // add/overwrite styles for responsive level lg and lower
}

// Medium devices (tablets) and below: <= 992px
@include media-breakpoint-down(md) {
  // add/overwrite styles for responsive level md and lower
}

// Small devices (landscape phones) and below: <= 768px
@include media-breakpoint-down(sm) {
  // add/overwrite styles for responsive level sm and lower
}

// Extra small devices (portrait phones): <= 576px
@include media-breakpoint-down(xs) {
  // add/overwrite styles for responsive level xs
  #project_logo_box {

    position: relative;
    left: auto;
    bottom: auto;
    z-index: 1000;
  }
}
