/*  navigation
 *  - all styles about menus
 */

// Extra large devices (large desktops)
// set the defaults for all responsive levels here
// no (xl) media query necessary (desktop first)

  // options menu
  .mir-prop-nav {
    // inverted flex order!
    // means: all but the first
    .navbar-nav {
      padding-right: 1.25rem;
      & > li > a {
        display:block;
        padding:0;
        height: 5.4375rem;
        line-height: 5.4375rem;
        color: $leoBlueDark;
        font-size: .875rem;
        font-weight: 500;
        &:focus,
        &:hover {
          color: $leoBlueDark;
        }
      }
    }
    .nav-item:not(:last-child) {
      margin-left: 20px;
    }
  }

  // main menu
  .mir-main-nav {
    .navbar {
      padding:0;
    }
    .nav-item:not(:first-child),
    #basket-list-item {
      margin-left: 3.125rem;
    }
    .nav-item,
    #basket-list-item {
      height: 5.4375rem;
    }
    .nav-link {
      display:block;
      padding:0;
      height: 5.4375rem;
      line-height: 5.4375rem;
      color: $leoBlueDark;
      font-size: 1.125rem;
      font-weight: 500;

      // active nav link (no dropdown)
      &.active {
      }
      &:hover,
      &:focus,
      &:active {

      }
    }
    .dropdown-menu {
      padding: 2rem 4rem;
      margin-left: -4rem;
    }
    .dropdown-item {
      &:hover,
      &:focus,
      &:active {
        text-decoration: underline;
      }
    }
    // active sub menu link (dropdown)
    .active {
      .nav-link {
      }
      > .dropdown-item {
        &:hover,
        &:focus,
        &:active {
        }
      }
    }
  }
  .dropdown-menu {
    font-size: 1rem;
    border: 1px solid white;
    border-top: none;
    box-shadow: none;
  }

  .search-toggler {
    color: $leoBlueDark;
    margin-left: 3.125rem;
    border-top: 0;
  }

  .search-toggler,
  .mir-main-nav .nav-item,
  .mir-prop-nav .nav-item,
  #basket-list-item {
    position: relative;
    &::before {
      content: " ";
      position: absolute;
      top: 0;
      left: 0;
      right: 100%;
      height: .1875rem;
      background: $leoBlueDark;
      transition: right .6s cubic-bezier(.19,1,.22,1);
    }
    &.active,
    &:hover {
      &::before {
          right: 0;
      }
    }
  }

  // overwrite bs settings
  .mir-main-nav.bg-primary .navbar-nav .active > .nav-link {
  }
  .mir-main-nav .navbar-expand-lg .navbar-nav .nav-link {
  }

  // footer menu
  .internal_links {
    width: 100%;
    li {
      width: auto;
      display: inline-block;
      > a:hover,
      > a:focus {
        text-decoration: underline;
        background-color: transparent;
      }
    }
  }

  // settings from https://www.tu-braunschweig.de/
  // for left side nav bar
  .socialbar-wrapper {
    position: fixed;
    left: 50%;
    top: .625rem;
    width: 100%;
    max-width: 120rem;
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    pointer-events: none;
    padding: 0;
    margin: 0;
    .socialbar {
      width: 2.625rem;
      height: calc(100vh - .625rem);
      background-color: #fff;
      color: #003f57;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -ms-flex-direction: column;
      flex-direction: column;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-pack: center;
      justify-content: center;
      border-right: 1px solid #e2e2e2;
      padding: 0;
      margin: 0;
      list-style: none;
      pointer-events: all;
    }
  }



// Large devices (desktops) and below: <= 1200px
@include media-breakpoint-down(lg) {
  // add/overwrite styles for responsive level lg and lower
  .mir-main-nav {
    .nav-item:not(:first-child),
    #basket-list-item {
      margin-left: 1rem;
    }
  }
  .search-toggler {
    margin-left: 1rem;
  }
}

// Medium devices (tablets) and below: <= 992px
@include media-breakpoint-down(md) {
  // add/overwrite styles for responsive level md and lower
  header {
    position: static;
  }
  .leo-header__logo {
    margin-top: 0;
    img {
      width: auto;
      height: 5.4375rem;
    }
  }
  .leo-header__nav {
    margin-left: 1rem;
  }
  .search-toggler {
    margin-left: 1rem;
  }
  .mir-main-nav {
    .navbar-toggler {
      color: $leoBlueDark;
      border-color: $gray-light;
      height: 100%;
      border-width: 0 0 0 1px;
      padding-left: 1rem;
      padding-right: 1rem;
    }
    .navbar-nav {
      margin-bottom: 1rem;
    }
    .dropdown-menu {
      padding: 0.5rem 0;
      margin-left: 0;
      border-width: 0 0 0 1px;
    }
  }
  #mir-main-nav-collapse-box {
    position: absolute;
    top: 5.4375rem;
    right: 0;
    background-color: $leoBlueDark;
    padding: 0 3rem;
    min-width: 320px;
    width: 100vw;
    border-bottom: 1px solid white;
  }
  .navbar-light .navbar-nav .nav-link,
  .navbar-light .navbar-nav .nav-link:hover,
  .navbar-light .navbar-nav .nav-link:focus,
  .navbar-light .navbar-nav .show > .nav-link,
  .navbar-light .navbar-nav .active > .nav-link,
  .navbar-light .navbar-nav .nav-link.show,
  .navbar-light .navbar-nav .nav-link.active {
    color: white;
  }
  .mir-main-nav .nav-item,
  .mir-main-nav .nav-item:not(:first-child),
  .mir-main-nav #basket-list-item {
    margin-left: 0rem;
    height: auto;
  }
  .socialbar-wrapper {
    display: none;
  }
}

// Small devices (landscape phones) and below: <= 768px
@include media-breakpoint-down(sm) {
  // add/overwrite styles for responsive level sm and lower
  .search-toggler {
    margin-left: 0rem;
  }
}

// Extra small devices (portrait phones): <= 576px
@include media-breakpoint-down(xs) {
  // add/overwrite styles for responsive level xs
  .leo-header__nav {
    margin-left: 0rem;
  }
}
