/*  searchfield settings
 */

// Extra large devices (large desktops)
// set the defaults for all responsive levels here
// no (xl) media query necessary (desktop first)

  // search field in menu row

  .searchfield_box {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 5.4375rem;
    opacity: 0;
    visibility: hidden;
    animation: fadeOut .15s linear;
    transition: opacity .15s ease-out;
    background-color: white;
    z-index: 2040;
    &.open {
      opacity: 1;
      visibility: visible;
      animation: fadeIn .15s linear;
    }
  }

  .bs-search {
    .btn {
      color: $leoBlueDark;
    }
  }


// Large devices (desktops) and below: <= 1200px
@include media-breakpoint-down(lg) {
  // add/overwrite styles for responsive level lg and lower
  .searchfield_box {
  }
}

// Medium devices (tablets) and below: <= 992px
@include media-breakpoint-down(md) {
  // add/overwrite styles for responsive level md and lower
  .searchfield_box {
    margin-left: 0;
  }
}

// Small devices (landscape phones) and below: <= 768px
@include media-breakpoint-down(sm) {
  // add/overwrite styles for responsive level sm and lower
}

// Extra small devices (portrait phones): <= 576px
@include media-breakpoint-down(xs) {
  // add/overwrite styles for responsive level xs
}
