/*  searchfield settings
 */

// Extra large devices (large desktops)
// set the defaults for all responsive levels here
// no (xl) media query necessary (desktop first)

  // search wrapper, header
  // not visible until search button was pressed
  .searchfield_box {
    position: absolute;
    z-index: 1034;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    height: $menuHeight;

    opacity: 0;
    visibility: hidden;
    animation: fadeOut .15s linear;
    transition: opacity .15s ease-out;

    background-color: white;
    // visible search wrapper
    &.open {
      opacity: 1;
      visibility: visible;
      animation: fadeIn .15s linear;
    }
  }

  // search form, header
  #bs-searchHeader {
    .btn {
      color: $leoBlueDark;
    }
  }

  // search field wrapper, header
  #bs-searchHeader .input-group {
    position: relative;
  }

  // search forms, header and home
  #bs-searchHeader,
  #bs-searchMainPage {
    .input-group {
      width: 80%;
    }
    .form-control {
      height: auto;
      &:focus {
        z-index: auto;
        box-shadow: none;
      }
    }
    .search-query {
      width: 30vw;
      margin-right: 0;
      margin-bottom: 0;
      font-size: 1.125rem;
      line-height: 1.5rem;
      padding: .8125rem 1.875rem .8125rem 0;
      background: #fff;
      border: none;
      border-bottom: .125rem solid $leoBlueDark;
    }
    button {
      background-image: url("data:image/svg+xml,%3Csvg version=%271.1%27 xmlns=%27http://www.w3.org/2000/svg%27 xmlns:xlink=%27http://www.w3.org/1999/xlink%27 x=%270px%27 y=%270px%27 viewBox=%270 0 20 20%27 style=%27enable-background:new 0 0 20 20;%27 xml:space=%27preserve%27%3E%3Cpath fill=%27%23003F57%27 d=%27M19.4,10.9c0.2-0.2,0.2-0.5,0-0.7l-6-6C13.2,4.1,13.1,4,12.9,4c-0.1,0-0.3,0-0.4,0.1c-0.2,0.2-0.2,0.5,0,0.7l5.2,5.2H1.5 C1.2,10,1,10.2,1,10.5S1.2,11,1.5,11h16.3l-5.1,5.1c-0.2,0.2-0.2,0.6-0.1,0.8c0.2,0.1,0.6,0.1,0.8,0L19.4,10.9L19.4,10.9z%27/%3E%3C/svg%3E");
      background-color: transparent;
      margin-right: 0;
      margin-bottom: 0;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      color: black;
      background-color: white;
      display: inline-block;
      width: 1.875rem;
      height: 1.875rem;
      padding: 0;
      border: none;
      background-repeat: no-repeat;
      background-position: center;
      text-indent: -9999px;
      white-space: nowrap;
      overflow: hidden;
    }
  }
  // search on home only
  #bs-searchMainPage .search-query {
    border-color: $gray-lighter;
  }


// Large devices (desktops) and below: <= 1200px
@include media-breakpoint-down(lg) {
  // add/overwrite styles for responsive level lg and lower
  #bs-searchHeader {
    .search-query {
      width: 30vw;
    }
  }
}

// Medium devices (tablets) and below: <= 992px
@include media-breakpoint-down(md) {
  // add/overwrite styles for responsive level md and lower
  .searchfield_box {
    margin-left: 0;
  }
}

// Small devices (landscape phones) and below: <= 768px
@include media-breakpoint-down(sm) {
  // add/overwrite styles for responsive level sm and lower
  #bs-searchHeader {
    .search-query {
      width: 50vw;
    }
  }
}

// Extra small devices (portrait phones): <= 576px
@include media-breakpoint-down(xs) {
  // add/overwrite styles for responsive level xs
  #bs-searchHeader {
    .search-query {
      width: 90vw;
    }
  }
}
