/*  section home
 *  - settings for homepage only
 */

// Extra large devices (large desktops)
// set the defaults for all responsive levels here
// no (xl) media query necessary (desktop first)

  .mir-start_page {

    .mir-prop-nav .leo-logo {
      display: none;
    }

    // center search box horizontal and vertical
    #page {
      height: 100%;
      padding-top:90px;
    }
    #main_content {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    #bs-index-search {
      width: 100%;
      margin-bottom: 150px;
    }
    // end: center

    h1 {
      color: $leoBlueDark;
      line-height: 2.5rem;
    }
    .leo-project-name {
      display: block;
      font-size: 3rem;
      font-weight: 700;
    }
    .leo-project-slogan {
      font-size: 1.5rem;
      font-weight: 700;
    }

    #main_content {
      background-image: url("#{$assetPathRoot}images/back-leopard-180.svg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: 50% 50%;
    }

    .search-toggler {
      display: none;
    }
  }

// Large devices (desktops) and below: <= 1200px
@include media-breakpoint-down(lg) {
  // add/overwrite styles for responsive level lg and lower
}

// Medium devices (tablets) and below: <= 992px
@include media-breakpoint-down(md) {
  // add/overwrite styles for responsive level md and lower
  .mir-start_page {
    #main_content {
      background-position: 100%% 65%;
    }
  }
}

// Small devices (landscape phones) and below: <= 768px
@include media-breakpoint-down(sm) {
  // add/overwrite styles for responsive level sm and lower
}

// Extra small devices (portrait phones): <= 576px
@include media-breakpoint-down(xs) {
  // add/overwrite styles for responsive level xs
}
