//
// Variables
// --------------------------------------------------

$assetPathRoot : "../../../../";
$menuHeight: 5.4375rem;

// Project colors
// -------------------------
$leoBlue:       #00709b;
$leoBlueLight:  #4b8fbb;
$leoBlueDark:   #003f57;
$leoGreen:      #008500;
$leoOrange:     #d48200;
$leoRed:        #be1e3c;
$leoPurple:     #8a307f;
$gray-dark:     #676767;
$gray:          #95a5a6;
$gray-light:    #b4bcc2;
$gray-lighter:  #ecf0f1;

// Bootstrap Variables
// -------------------------

$primary: $leoBlueDark;
$secondary: $leoPurple;
$success: $leoGreen;
$info: $leoBlue;
$warning: $leoOrange;
$danger: $leoRed;

// outdated but needed for mir
$brand-warning: $warning;

$web-font-path: "https://webfonts.gbv.de/css2?family=Open+Sans:wght@400;500;700&display=swap";
$font-family-sans-serif: "Open Sans", Helvetica, Arial, sans-serif;
$text-color: black;
$font-size-base: 1rem;

$h1-font-size: 3.375rem;
$h2-font-size: 2rem;
$h3-font-size: 1.5rem;
$h4-font-size: 1.2rem;

$link-color: $info;
$link-hover-color: $link-color;
$link-decoration: underline;
$link-hover-decoration: none;

$border-radius: 0;
$border-radius-lg: 0;
$border-radius-sm: 0;

$navbar-light-color: $leoBlueDark;
$navbar-light-hover-color: $leoBlueDark;

$dropdown-spacer: 0;
$dropdown-color: white;
$dropdown-bg: $leoBlueDark;
$dropdown-link-color: white;
$dropdown-link-hover-color: white;
$dropdown-link-hover-bg: $leoBlueDark;

// Paginations
$pagination-color: $info;
$pagination-bg: white;
$pagination-border-color: white;

$pagination-hover-color: white;
$pagination-hover-bg: $secondary;
$pagination-hover-border-color: $secondary;

$pagination-active-color: white;
$pagination-active-bg: $info;
$pagination-active-border-color: $info;

$pagination-disabled-color: $gray;
$pagination-disabled-bg: white;
$pagination-disabled-border-color: white;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 1200px,
  xl: 1600px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 1140px,
  xl: 1540px
);
