//
// Variables
// --------------------------------------------------

$assetPathRoot : "../../../../";

// Project colors
// -------------------------
$leoBlue:       #00709b;
$leoBlueLight:  #4b8fbb;
$leoBlueDark:   #003f57;
$leoGreen:      #6eba6b;
$leoOrange:     #f39c12;
$leoRed:        #be1e3c;

$gray-dark:     #7b8a8b;
$gray:          #95a5a6;
$gray-light:    #b4bcc2;
$gray-lighter:  #ecf0f1;


// Bootstrap Variables
// -------------------------

$primary: $leoBlueDark;
$success: $leoGreen;
$info: $leoBlue;
$warning: $leoOrange;
$danger: $leoRed;

// outdated but needed for mir
$brand-warning: $warning;

$web-font-path: "https://webfonts.gbv.de/css2?family=Open+Sans:wght@400;500;700&display=swap";
$font-family-sans-serif: "Open Sans", Helvetica, Arial, sans-serif;
$text-color: black;
$font-size-base: 0.9375rem;

$h1-font-size: 2.25rem;
$h2-font-size: 2rem;
$h3-font-size: 1.5rem;
$h4-font-size: 1.2rem;

$link-color: $info;
$link-hover-color: $link-color;

$border-radius: 0;
$border-radius-lg: 0;
$border-radius-sm: 0;


$dropdown-spacer: 0;
$dropdown-color: white;
$dropdown-bg: $leoBlueDark;
$dropdown-link-color: white;
$dropdown-link-hover-color: white;
$dropdown-link-hover-bg: $leoBlueDark;
