# MyCoRe files
data/
lib/h2-1.4.196.jar
lib/dfn-display-name-converter-2018.06.0.4-SNAPSHOT.jar
lib/fixsvn-module.jar
lib/pi-tester.jar

# eclipse
.project
.settings/

#intellij
*.iml

# application specific files on server
jwt.secret
messages_de.resolved.properties
messages_en.resolved.properties
mycore.active.properties
./mycore.properties
mycore.resolved.properties
MCRWebCLI-unprocessed-commands.txt
deprecated.active.properties
resources/META-INF/persistence.xml
pom.xml.bak
target
dependency-reduced-pom.xml
.classpath
yarn.lock
node_modules/
