<?xml version="1.0" encoding="UTF-8"?>
<configuration status="OFF">
  <appenders>
    <RollingFile name="RollingFile" fileName="/mcr/digibib/logs/mycore-app.log"
                 filePattern="/mcr/digibib/logs/$${date:yyyy-MM}/mycore-app-%d{MM-dd-yyyy}-%i.log.gz">
      <PatternLayout>
        <Pattern>%highlight{%d{ISO8601} %-5p %X{loginId} %c{1}: %m%n%ex}</Pattern>
      </PatternLayout>
      <Policies>
        <TimeBasedTriggeringPolicy />
        <SizeBasedTriggeringPolicy size="250 MB"/>
      </Policies>
    </RollingFile>

    <SMTP name="SMTPAppender"
          smtpPort="25"
          subject="[DigiBib] Error Log"
          to="neumann@gbv.de"
          from="dms-list@lists.gbv.de"
          smtpHost="mailer.gbv.de"
          bufferSize="512">

        <PatternLayout>
          <Pattern>%d{ISO8601} %-5p %X{loginId} %c{1}: %m%n%ex</Pattern>
        </PatternLayout>
      </SMTP>

  </appenders>
  <loggers>
    <root level="info">
      <appender-ref ref="RollingFile" />
      <!-- appender-ref ref="SMTPAppender" level="error" / -->
    </root>
    <logger name="org.hibernate" level="error" />
    <logger name="org.mycore.frontend.editor.validation" level="info" />
    <logger name="org.mycore.solr.index.handlers.stream" level="debug" />
    <logger name="org.mycore.common.xml.MCRURIResolver" level="debug" />
  </loggers>
</configuration>
