@font-face {
  font-family: 'NexusSansPro-Regular';
  src: url('webfonts/NexusSansPro-Regular.eot?#iefix') format('embedded-opentype'),
       url('webfonts/NexusSansPro-Regular.otf')  format('opentype'),
       url('webfonts/NexusSansPro-Regular.woff') format('woff'),
       url('webfonts/NexusSansPro-Regular.ttf')  format('truetype'),
       url('webfonts/NexusSansPro-Regular.svg#NexusSansPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
html {
  position: relative;
  min-height: 100%;
}
html body {
  color: #000000;
  background-image: url("../images/background_neubau.png");
  background-size: auto auto;
  background-repeat: no-repeat;
  background-position: right bottom;
  background-color: #C1D0E6;
  margin-bottom: 90px; /* Margin bottom by footer height */
}
body {
  font-size: 15px;
}
html body p {
  line-height: 160%;
}

legend {
  color: #000000;
}

body.mir-start_page #page {
  background-color: transparent;
}

body.mir-start_page #page h1 {
  color: #BE1E3C;
}

html body #page {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px 40px;
}

body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'NexusSansPro-Regular'
}

#headline > h1 {
  font-size: 30px;
}

html body .jumbotron {
  color: inherit;
  background: none;
  background-color: #ecf0f1;
}

html body header #header_box {
    margin: 20px auto -20px auto;
}

html body #powered_by {
  background-color: white;
  border-top: 0px; /* unset border top from flatly */
}

header {
  background-color: rgb(255, 255, 255);
  margin-top: 0px;
  padding-top: 20px;
}

html body header #header_box {
  margin: 20px auto 20px auto;
  padding-right: 0;
}
.mir-main-nav .container {
  position: relative;
}

.mir-main-nav .navbar-header {
    float: right;
    margin: 0 0 0 0;
}


/* ****************** searchfield_box ******************* */
.searchfield_box {
  position: absolute;
  right: 0;
  top: 53px;
}

.searchfield_box .btn-primary {
  color: #fff;
  background-color: transparent;
  border-width: 0px;
  margin: 4px 0 0 5px;
  padding:0;
}

.searchfield_box .form-control,
.searchfield_box input {
  border-width: 0px;
  border-radius: 0px;
  background-color: #01597b;
  color: white;
}

html body header #searchInput {
  padding: 0px 15px;
  margin-top: 7px;
}

#searchInput .from-control {
  background-color: #015f83;
}

/* TODO: check for better solution to hide search field box on modal citation box*/
.modal {
  z-index: 2050;
}

/* ***************** searchfield_box END ****************** */

#project_logo_box {
    position: absolute;
    left: 0px;
    top: -74px;
}

section {
  padding: 2em 0;
}
footer {}
.flatmir-footer {
  margin-top: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 90px; /* Set the fixed height of the footer here */
}
.panel-footer {
    padding: 0;
}

html body #powered_by {
  background-color: #FFF;
  padding: 5px 0 0 0;
  text-align: right;
}

.internal_links {
  width: 100%;
}

.internal_links li > a:hover,
.internal_links li > a:focus {
  text-decoration: underline;
  background-color: transparent;
}

.navbar {
  position: inherit;
  min-height: 30px;
}

#options_nav_box {
  position:relative;
  text-align: right;
}
#options_nav_box ul > li {
  margin-left: 15px;
}

.mir-main-nav {
    box-shadow: none;
}

.mir-main-nav .navbar-nav > li > a {
  line-height: 2em;
}
.mir-main-nav .navbar-nav > li > a {
  padding: 0px 1em;
}

.nav > li {
  border-left: 1px solid #fff;
}

.mir-main-nav nav .navbar-nav > li > a:hover .caret {
    border-top-color: #BE1E3C !important;
}

.mir-main-nav nav .navbar-nav .dropdown-menu::before {
    border-color: transparent transparent #BE1E3C transparent;
}

.mir-main-nav nav .navbar-nav .dropdown-menu {
  background-color: #BE1E3C;
}

.mir-main-nav nav .navbar-nav > li > a:hover {
    color: #BE1E3C;
    background-color: white;
}

.mir-main-nav nav .navbar-nav .dropdown-menu > li > a:hover,
.mir-main-nav nav .navbar-nav .dropdown-menu > li > a:focus {
    color: #BE1E3C;
    background-color: white;
}

.flatmir-footer {
  background-color: #fff;
  color: #BE1D3C;
  border-top: 1px solid #BE1D3C;
}

.flatmir-footer .col-md-9,
.flatmir-footer .navbar-nav > li > a {
  padding: 5px 60px 0 0;
}

.flatmir-footer a, #bs-bibliothek {
  color: #BE1D3C;
}

#bs-bibliothek {
  font-weight: bold;
}

.classificationBrowser {
  width: 800px;
}

.viewer .navbar.navbar-default, .mycoreViewer .navbar {
  background-image: none;
}

.mycoreViewer .altoLine {
  text-align: left;
  line-height: initial;
  font-family: sans-serif;
}

.mycoreViewer .navbar {
  position: relative;
  min-height: 60px;
  padding: 0px;
}

#digibib_brunsvicensien {
  background-image: url("../images/braunschweiger-land_1c.png");
  background-repeat: no-repeat;
  background-position: center;
}

#digibib_vorlesung {
  background-image:url('../images/sigel_4.png');
  background-repeat: no-repeat;
  background-position: bottom right;
}

#digibib_beytraege {
  background-image:url('../images/loewe.jpg');
  background-repeat: no-repeat;
  background-position: center;
}

#digibib_adressbuecher {
  background-image:url('../images/stadtarchiv.jpg');
  background-repeat: no-repeat;
  background-position: 100% 7%;
}

#digibib_bwg {
  background-image:url('../images/bwg.png');
  background-repeat: no-repeat;
  background-position: top right;
}

#digibib_jahrbuecher {

}
#digibib_ph {
  background-image:url('../images/Bernhard-Rust.png');
  background-repeat: no-repeat;
  background-position: top right;
}

#digibib_picturebooks, #digibib_childrensbooks {
  background-image:url('../images/kinderbuch.jpg');
  background-repeat: no-repeat;
  background-position: top right;
}

#digibib_childrensbooks {
  background-image:url('../images/kinderbuch.jpg');
  background-repeat: no-repeat;
  background-position: bottom right;
  min-height: 450px;
}

#digibib_pharmacy {
  background-image:url('../images/pharmazie.png');
  background-repeat: no-repeat;
  background-position: center;
}

#digibib_botanic {
  background-image:url('../images/salamander.png');
  background-repeat: no-repeat;
  background-position: center right;
}

#digibib_imagecollection {
  background-image:url('../images/iris.png');
  background-repeat: no-repeat;
  background-position: center right;
}

#digibib_institutes {
  background-image:url('../images/sigel.png');
  background-repeat: no-repeat;
  background-position: top right;
}

#digibib_rarities {
/*  background-image:url('../images/spezial.png');*/
  background-repeat: no-repeat;
  background-position: center;
}

#digibib_typ {
  background-image:url('../images/logo_typ.png');
  background-repeat: no-repeat;
  background-position: bottom right;
}

#digibib_ivb {
  background-image:url('../images/ivb.jpg');
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 15%;
}

#digibib_hob {
  background-image:url('../images/TUBraunschweig_CO.gif');
  background-repeat: no-repeat;
  background-position: top right;
}
#digibib_nfl {
  background-image:url('../images/NFL_Logozusatz_TU.png');
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 16%;
}

#digibib_feedback {
  cursor: pointer;
  position: fixed;
  bottom: 20%;
  right: -24px;
  transform: rotate(-90deg);
  display: block;
  background: #a9072f;
  padding: 8px 0px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  border-bottom: solid 1px #a9072f;
  border-left: solid 0px #a9072f;
  border-right: solid 1px #a9072f;
  z-index: 999;
  width: 80px;
  text-align: center;
}
#digibib_feedback:hover {
  background: #00709b;
  border-bottom: solid 1px #00709b;
  border-left: solid 0px #00709b;
  border-right: solid 1px #00709b;
}
#digibib_feedback a {
  color: #fff;
}
#dini_logo {
  padding-right: 10px;
}

.result_body .result_filter .panel.oa li[data-fq="worldReadableComplete:false"] .title,
.result_body .result_filter .panel.oa li[data-fq="worldReadableComplete:false"] .title:hover,
.result_body .result_filter .panel.oa li[data-fq="worldReadableComplete:true"] .title,
.result_body .result_filter .panel.oa li[data-fq="worldReadableComplete:true"] .title:hover {
  color: #666;
}

/* TODO: move to MIR layout ***************************************************/
.hit_oa > span {
  background-color: transparent;
  background-size: contain;
  padding-bottom: 1px;
  background-repeat: no-repeat;
}
.hit_oa > span.label-success {
  background-image: url("../images/oa.png");
}
.hit_oa > span.label-warning {
  background-image: url("../images/non_oa.png");
  display: none;
}
.hit_oa i {
  display: none;
}
.fa {
 font: normal normal normal 14px/1 FontAwesome;
}
.shariff .orientation-horizontal.button-style-standard li {
  min-width: 82px;
}
.result_body .result_list #hit_list .hit_item .hit_icon_overlay {
  position: absolute;
  top: 20px;
  left: -8px;
  width: 50%;
}

/* ********************* cookie-bar ********************* */

#cookie-bar {background:#111111; box-shadow:0px 5px 5px #aaabad; height:auto; line-height:24px; color:#eeeeee; text-align:center; padding:20px 0;}
#cookie-bar.fixed {position:fixed; bottom:90px; left:0; width:100%;}
#cookie-bar.fixed.bottom {bottom:0; top:auto;}
#cookie-bar p {margin:0px 0px; padding:0;}
#cookie-bar a {color:#ffffff; display:inline-block; border-radius:3px; text-decoration:none; padding:0 6px; margin-left:8px;}
#cookie-bar .cb-enable {background:#007700;}
#cookie-bar .cb-enable:hover {background:#009900;}
#cookie-bar .cb-disable {background:#990000;}
#cookie-bar .cb-disable:hover {background:#bb0000;}
#cookie-bar .cb-policy {background:#0033bb;}
#cookie-bar .cb-policy:hover {background:#0055dd;}


/* responsive grid ***************************************************/
@media (max-width: 767px) {
  #options_nav_box {
    width: 200px;
  }
  .jumbotwo h1 {
    font-size: 26px;
  }
  #bs-searchInput {
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
  }
  .jumbotwo .btn {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    border-width: 5px;
  }
}
@media (min-width: 360px) {
}

@media (min-width: 768px) {
  .mir-main-nav nav .navbar-nav {
    margin: 0px 0px 0px 200px;
  }
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

.datenschutz h4 {
  font-weight: bold;
  margin-top: 15px;
}

.datenschutz h5 {
  font-weight: bold;
}
