@import "variables";
@import "flatmir/lib/variables";
@import "common/variables";
@import  "../assets/bootswatch/flatly/variables";
@import  "../assets/bootstrap/bootstrap";
@import  "../assets/bootswatch/flatly/bootswatch";
@import "flatmir/layout";

