<?xml version="1.0" encoding="UTF-8"?>
<MyCoReWebPage>
  <section xml:lang="de" title="Modulhandbücher">
    <div>
      <h2>Modulhandbücher</h2>

      <div class="row" id="digibib_module">
        <div class="col-9">
          <p>Hier steht ein informativer Text zu den Modulhandbüchern.</p>
          
          
          <div class="accordion" id="accordionModules">
            <div class="card">
              <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Fakultät 1 - Carl-Friedrich Gauß-Fakultät
                  </button>
                </h2>
              </div>
          
              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionModules">
                <div class="card-body">
                  <div class="solrsearch"
                       data-classes=""
                       data-parameters="q=objectType%3Amods%20AND%20mods.genre%3Ain_house%20AND%20mods.title%3AModulhandbuch%20AND%20category.top%3A%22mir_institutes%3AFaculty_c_01%22" />
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Fakultät 2 - Lebenswissenschaften
                  </button>
                </h2>
              </div>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionModules">
                <div class="card-body">
                  <div class="solrsearch"
                       data-classes=""
                       data-parameters="q=objectType%3Amods%20AND%20mods.genre%3Ain_house%20AND%20mods.title%3AModulhandbuch%20AND%20category.top%3A%22mir_institutes%3AFaculty_c_02%22" />
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Fakultät 3 - Architektur, Bauingenieurwesen und Umweltwissenschaften
                  </button>
                </h2>
              </div>
              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionModules">
                <div class="card-body">
                  <div class="solrsearch"
                       data-classes=""
                       data-parameters="q=objectType%3Amods%20AND%20mods.genre%3Ain_house%20AND%20mods.title%3AModulhandbuch%20AND%20category.top%3A%22mir_institutes%3AFaculty_c_03%22" />
                </div>
              </div>
            </div>
          </div>
          
          
        </div>
      </div>
    </div>
  </section>
  <meta><log lastEditor="administrator" date="2021-08-05" time="15:50" /></meta>
</MyCoReWebPage>
